.registrationform {
    margin: auto;
    width: 450px;
    padding: 40px;
    border-radius: 10px;
    font-size: 30px;
}

.form-btn {
    text-align: center;
}

.btn {
    width: 120px;
    text-align: center;
    outline: none;
    border: 2px solid;
    border-radius: 50px;
    font-size: 20px;
}

.form-control {
    text-align: center;
    border-radius: 30px;
}

.signup {
    text-align: center;
}

.invalid-feedback {
    font-size: 18px;
}