{% extends "navbar.html" %}
{% block content %}
	<div class="container">
		<h1 align="center"><strong>About Us</strong></h1>
		<p><h3>Rainbow aims to sell products at a <strong>reasonable price</strong> during the pandemic.</p><br>
    	<p>An E-Commerce platform that allows everyone to buy products you want, such as <strong>T-Shirts</strong>, <strong>shoes</strong>, <strong>trackpants</strong>, <strong>socks</strong> and <strong>watches</strong>. Newest Fashion for Everyone!</p>
	</div>
{% endblock content %}