{% extends "navbar.html" %}
{% block content %}
	<div class="hometrans"><br><br></div>
	<div class="container">
		<h1 align="center" class="about-text"><strong>Contact Us</strong></h1>
		<div class="hometrans"><br><br></div>
	    <p class="about-text"><h3>Email: <a href="mailto:kacng223-c@my.cityu.edu.hk">kacng223-c@my.cityu.edu.hk</a></p>
	    <p class="about-text"><h3>Address: 2/F, Li Dak Sum Yip Yio Chin Academic Building (LI), City University of Hong Kong, Tat Chee Avenue, Kowloon, Hong Kong</p>
	</div>
{% endblock content %}